<div style="
  text-align: justify;
  color: #101010;
  padding: 50px;
">

  <h3>Olá, <span style="
    color: #7d40e7;
    margin-top: 10px;
  ">{{ name }}</span></h3>

  <p>Infelizmente a entregar do produto <span style="color: #7d40e7;">{{ product }}</span> foi <span style="color: red; text-transform:uppercase">cancelada!</span></p>
  <br/ >

</div>